<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="attendance_js.js"></script>
    <link rel="stylesheet" type="text/css" href="/folder/attendance_css.css">
    <title>attendence</title>
</head>
<body>
<nav>
    <a class="links" href="#">HOME</a>
    <button class="menu-btn1" onclick="admin_profile()">ADMIN</button>
    <button class="menu-btn1" onclick="history()">HISTORY</button>
    <button class="menu-btn1" onclick="detail()">STUDENT_DETAILS</button>
    <button class="menu-btn1" onclick="attendance_page()">ATTENDANCE</button>
    <div class="dropdown-menu">
        <button class="menu-btn">Open ^</button>
        <div class="menu-content">
            <a class="links-hidden" href="#">Contact Us</a>
            <a class="links-hidden" href="#">Visit Us</a>
            <a class="links-hidden" href="#">About Us</a>
        </div>
    </div>
</nav>
<div class="page" id="fontpage">here attendance page</div>

<!-- <div style="width:900px; height: 50px; background-color: rgb(246, 240, 240); margin-left: 170px;">
    <h6>Roll_no     Student_name     student_father_name  present  absent</h6>
</div> -->
</body>
</html>