<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/javascript/attendance_js.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/attendance_css.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <title>attendence</title> 
</head>


<body>

<div class="page">
       <nav>
         <button class="menu-btn" onclick="homepage()">HOME</button>
         <button class="menu-btn" onclick="admin_profile()">ADMIN</button>
         <button class="menu-btn" onclick="detail()">STUDENT_DETAILS</button>
         <button class="menu-btn" onclick="attendance_page()">ATTENDANCE</button>
       </nav> 



      <input type="checkbox" id="icon">
      <label for="iconlab" class="iconbtn">
        <i class="fa fa-times" id="closebtn"></i>
        <i class="fa fa-bars" id="openbtn"></i>
      </label>


     <div class="sidenav"  >
       <ul class="mainNav">
         <a href="#" onclick="closeSidebar()">Menu</a>
         <hr>
         <li class="single-nav"><button class="btn" onclick="addstudent()"> Add Students</button></li>
         <li class="single-nav"><button class="btn" onclick="addteachers()"> Add Teachers</button></li>
         <li class="single-nav"><button class="btn" onclick="addclasses()"> Add Classes</button></li>
         <li class="single-nav"><button class="btn" onclick="activestudent()"> Active Students</button></li>
         <li class="single-nav"><button class="btn" onclick="history()"> History</button></li>
         <li class="single-nav"><button class="btn btn-light" onclick="setting()"> Setting</button></li>
      </ul>
    </div>


     <h4 id="fontpage"></h4>
     <div id="page"></div>


</div>










</body>
</html>